<form action="/gym/members" method="post">
  <label for="name">Full Name:</label>
  <input type="text" name="name">

  <label for="premium">Membership status:</label>
  <select name="premium">
    <option value=<%=true%>><%="Premium"%></option>
    <option value=<%=false%>><%="Standard"%></option>
  </select>
  <input type="submit" value="Add member">
</form>
