<h2><%=@member.name%></h2>

<p>Membership status:
  <% if (@member.premium() == true) %>
  Premium
  <% elsif (@member.premium() == false) %>
  Standard
  <% end %>
</p>
<p>Lessons: </p>
<ul>
  <% if (@member.lessons == []) %>
    <p>none</p>
  <% else @member.lessons.each() { |lesson| %>
    <p><%=lesson.course()%></p>
  <% } end %>
</ul>
<hr/>

<!-- <form action=""></form> -->
<form action="/members/<%=@member.id()%>/edit" method="get">
  <input type="submit" value="Edit this member">
</form>
<form action="/members/<%=@member.id()%>/delete" method="post">
  <input type="submit" value="Delete this member">
</form>
