* {
  background-color: beige;
}

#home-container {
  display: flex;
  justify-content: center;
}

.home-main-title {
  display: flex;
  font-size: 2.5em;
}

.home-links {
  display: flex;
  justify-content: center;
  padding-left: 12%;
}

.home-left {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
}

.home-right {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-content: center;
}

.home-section-title {
  font-size: 2em;
}

.navlink {
  border-bottom: black solid 1px;
  border-right: black solid 1px;
  padding-left: 4px;
  padding-bottom: 2px;
}

.navlink-last {
  border-bottom: black solid 1px;
  padding-left: 2px;
  padding-bottom: 2px;
}

button, input[type="button"], input[type="submit"] {
  background-color: lightgrey;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  background-color: darkgrey;
}

button:focus, input[type="button"]:focus, input[type="submit"]:focus {
  background-color: grey;
  outline: 0;
}



.topnav {
  font-size: 20px;
  /* border-bottom-color: black;
  border-bottom-style: solid; */
}

a {text-decoration: none; color: black;}
a:hover {color: grey;}
a:focus {color: darkgrey;}
a:visited {text-decoration: none;}

a.return {color: red;}
a.return:hover {color: firebrick;}
a.return:focus {color: darkred;}
