<h3>Add new physio:</h3>
<br>

<form action="/wellbeing/physios" method="post" autocomplete="off">
  <label for="physio_name">Full Name:</label>
  <input type="text" name="physio_name" required>
  <input type="submit" value="Add physio">
</form>

<br>
<p><a class="return" href="/wellbeing/physios">Return</a> to directory.</p>
